---
title: Trendsetter Media & Marketing 2016 Deck
---


<div id="introsection" data-anchor="intro" class="section teal accent-4">
  <%= partial "partials/intro" %>
</div>
<div id="what" data-anchor="whatwedo" class="section">
  <%= partial "partials/whatwedo" %>
</div>
<div id="share" data-anchor="sharecontest" class="section orange lighten-1">
  <%= partial "partials/sharecontest" %>
</div>
<div id="spotify-section" data-anchor="spotify" class="section teal accent-4">
  <%= partial "partials/spotify" %>
</div>
<div id="insta" data-anchor="instagram" class="section">
  <%= partial "partials/instagram" %>
</div>
<div id="apps-games" data-anchor="games" class="section orange lighten-1">
  <%= partial "partials/games" %>
</div>
<div id="tech" data-anchor="technologies" class="section teal accent-4">
  <%= partial "partials/technologies" %>
</div>
<div id="our-work" data-anchor="work" class="section">
  <%= partial "partials/work" %>
</div>
<div id="contact-us" data-anchor="contact" class="section orange lighten-1">
  <%= partial "partials/contact" %>
</div>
