---
title: Middleman 4 Boilerplate
---


<div id="introsection" data-anchor="intro" class="section teal accent-4">
  <%= partial "partials/intro" %>
</div>
<div id="what" data-anchor="whatwedo" class="section">
  <%= partial "partials/whatwedo" %>
</div>
<div id="share" data-anchor="sharecontest" class="section orange">
  <%= partial "partials/sharecontest" %>
</div>
<div id="spotify-section" data-anchor="spotify" class="section teal accent-4">
  <%= partial "partials/spotify" %>
</div>
<div id="insta" data-anchor="instagram" class="section">
  <%= partial "partials/instagram" %>
</div>
<div id="apps-games" data-anchor="games" class="section orange">
  <%= partial "partials/games" %>
</div>
<div id="tech" data-anchor="technologies" class="section teal accent-4">
  <%= partial "partials/technologies" %>
</div>
